<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @runner.name %>
  <%= image_tag @runner.photo.url(:medium) %>
</p>


<%= link_to 'Edit', edit_runner_path(@runner) %> |
<%= link_to 'Back', runners_path %>
